	<% include header %>

	<div id="container" class="container">
		<% if (success) { %>
			<div class="alert alert-success">
				<%= success %>
			</div>
		<% } %>
		<% if (error) { %>
			<div class="alert alert-error">
				<%= error %>
			</div>
		<% } %>
		<div class="hero-unit">
			<h1>欢迎来到自己搭建的微博</h1>
			<p>microblog是一个基于node.js的微型微博系统。</p>
			<p>
				<a href="/login" class="btn btn-primary btn-large">登录</a>
				<a href="/reg" class="btn btn-large">立即注册</a>
		</p>
		</div>
		<div class="row">
			<div class="span4">
				<h2>Carbo 说</h2>
				<p>The delightful Dark Doodad Nebula drifts through southern skies, a tantalizing target for binoculars in the constellation Musca, The Fly. The dusty cosmic cloud is seen against rich starfields just south of the prominent Coalsack Nebula and the Southern Cross. Stretching for about 3 degrees across ...</p>
			</div>
			<div class="span4">
				<h2>Yuanjianhang 说</h2>
				<p>
					1月18日消息，多家浏览器厂商对外确认，工信部已正式下达通知，要求金山、360、搜狗等浏览器停止使用火车票“抢票插件”。这是抢票软件在社会上引起巨大争议后，相关政府部门采取的最直接措施。
				</p>
			</div>
			<div class="span4">
				<h2>John 说</h2>
				<p>
					尽管此次叫停抢票插件，工信部有以行政力量干预市场行为之嫌，但亦有可理解之处。毕竟，抢票插件的推出，人为地制造了一种不公平的购票环境，使一部分人得以实现“插队”购票，实质上打破了正常的网络购票秩序，对火车票的公平分配有所破坏。
				</p>
			</div>
		</div>
		<footer>
			<p><a href="http://weibo.com/yuanjianhang" target="_blank">原健航的博客</a> 2013</p>
		</footer>
	</div>
	<% include footer %>