	<% include header %>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="###" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="/" class="brand">Microblog</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="/">首页</a></li>
						<li><a href="/login">登录</a></li>
						<li><a href="/reg">注册</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="container" class="container">
		<div class="hero-unit">
			<h1>欢迎来到自己搭建的微博</h1>
			<p>microblog是一个基于node.js的微型微博系统。</p>
			<p>
				<a href="/login" class="btn btn-primary btn-large">登录</a>
				<a href="/reg" class="btn btn-large">立即注册</a>
		</p>
		</div>
		<div class="row">
			<div class="span4">
				<h2>Carbo 说</h2>
				<p>东风波早没，冰雪无人见，春去天上来</p>
			</div>
			<div class="span4">
				<h2>Yuanjianhang 说</h2>
				<p>
					1月18日消息，多家浏览器厂商对外确认，工信部已正式下达通知，要求金山、360、搜狗等浏览器停止使用火车票“抢票插件”。这是抢票软件在社会上引起巨大争议后，相关政府部门采取的最直接措施。
				</p>
			</div>
			<div class="span4">
				<h2>Johe 说</h2>
				<p>
					尽管此次叫停抢票插件，工信部有以行政力量干预市场行为之嫌，但亦有可理解之处。毕竟，抢票插件的推出，人为地制造了一种不公平的购票环境，使一部分人得以实现“插队”购票，实质上打破了正常的网络购票秩序，对火车票的公平分配有所破坏。而春运时期的火车票销售，本来也并非一个按市场规则运行的市场，在这一大前提下，为了维护公平，政府部门出手进行必要的干预，法理上可能有值得商榷之处，但在当下现实中也有其合理性。
				</p>
			</div>
		</div>
		<footer>
			<p><a href="http://weibo.com/yuanjianhang" target="_blank">原健航的博客</a> 2013</p>
		</footer>
	</div>
	<% include footer %>